/* HEX CODES FOR OUR COLOR PALETTE: (brown: #362706), (dark green: #464E2E), (light green: #ACB992), (beige: #E9E5D6) */

/* SETS WEBSITE PROPORTIONS*/
html, body {
  height: 100%;
  width: 100%;
}

/* SETS WEBSITE BACKGROUND COLOR */
body {
  margin:0px; /* ELIMINATES GAP BETWEEN NAV BAR AND TOP OF WEBSITE */
  background-color: #E9E5D6;
}

/* NAVIGATION BAR CONTAINER */
nav ul {
  /*margin:0px; /* ELIMINATES GAP BETWEEN NAV BAR AND TOP OF WEBSITE */
  text-align: right; 
  list-style-type: none; /* REMOVES LINE UNDERNEATH NAV BAR ELEMENTS */
  background-color: #E9E5D6;
  overflow:hidden; /* ENSURES NAV BAR ELEMENTS ARE PROPORTIONAL TO NAV BAR */
  padding:0.5em;
/*   border: 5px solid #ad9f71; */
}

/* NAVIGATION BAR LAYOUT */
nav li {
  display: inline;
  margin-right: 2em;
}

/* NAVIGATION BAR STYLE, PADDING AND COLOR */
nav li a {
  font-family: 'EB Garamond', serif;
  text-decoration: none;
/*   background-color:#ad9f71; /*button color*/
  font-size: 1.5em;
  padding: 0.25em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  color: #000000; /*text color */
  border-radius: 5px;
  font-weight: bold;
}

/* NAVIGATION BAR HOVER ELEMENT */
nav li a:hover {
  color:#9a8f79;
}

/* HEADER */
h1 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 45px;
  color: #000000;
}

img {
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%; /* MAKES IMAGES INTO CIRCLES */
}

/* FLEXBOX  */

.us {
  display: flex;
  flex-direction:row; /* MAKES PROFILES DISPLAY IN ROW */
  flex-wrap:wrap;
  justify-content: space-around;
  margin-left:2.5%;
  margin-right:2.5%;

}

/* PICTURES */
.linh-pfp {
  filter: drop-shadow(8px 8px 10px #977259);
  border: 8px solid #977259;
  transition: 1s ease;
}

.linh-pfp:hover {
  transition: 1s ease;
  transform:scale(1.05);
}

.japa-pfp {
  filter: drop-shadow(8px 8px 10px #708b57);
  border: 8px solid #708b57;

  transition: 1s ease;
}

.japa-pfp:hover {
  transition: 1s ease;
  transform:scale(1.05);
}

.daniella-pfp {
  transition: 1s ease;
  filter: drop-shadow(8px 8px 10px #7782a2);
  border: 8px solid #7782a2;

}

.daniella-pfp:hover {
  transition: 1s ease;
  transform:scale(1.05);
}

.sualeha-pfp {
  transition: 1s ease;
  filter: drop-shadow(8px 8px 10px #b06636);
  border: 8px solid #b06636;

}

.sualeha-pfp:hover {
  transition: 1s ease;
  transform:scale(1.05);
}

/* OUR NAMES */
h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
  color: #000000;
  text-align: center;
  
}

/* OUR BIOGRAPHIES */
p {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  color: #575757;
  width:300px;
  text-align: center;
  margin-left:2.5%;
  margin-right:2.5%;
  margin-bottom:15%;
}