
/* HEX CODES FOR OUR COLOR PALETTE: (brown: #362706), (dark green: #464E2E), (light green: #ACB992), (beige: #E9E5D6) (light brown: #a27b5c) */

/* SETS WEBSITE PROPORTIONS*/
html, body {
  height: 100%;
  width: 100%;
}

/* SETS WEBSITE BACKGROUND COLOR */
body {
  margin:0px; /* ELIMINATES GAP BETWEEN NAV BAR AND TOP OF WEBSITE */
  background-color: #E9E5D6;
}

/* NAVIGATION BAR CONTAINER */
nav ul {
  /*margin:0px; /* ELIMINATES GAP BETWEEN NAV BAR AND TOP OF WEBSITE */
  text-align: right; 
  list-style-type: none; /* REMOVES LINE UNDERNEATH NAV BAR ELEMENTS */
  background-color: #E9E5D6;
  overflow:hidden; /* ENSURES NAV BAR ELEMENTS ARE PROPORTIONAL TO NAV BAR */
  padding:0.5em;
/*   border: 5px solid #ad9f71; */
}

/* NAVIGATION BAR LAYOUT */
nav li {
  display: inline;
  margin-right: 2em;
}

/* NAVIGATION BAR STYLE, PADDING AND COLOR */
nav li a {
  font-family: 'EB Garamond', serif;
  text-decoration: none;
/*   background-color:#ad9f71; /*button color*/
  font-size: 1.5em;
  padding: 0.25em;
  padding-right: 0.75em;
  padding-left: 0.75em;
  color: #000000; /*text color */
  border-radius: 5px;
  font-weight: bold;
}

/* NAVIGATION BAR HOVER ELEMENT */
nav li a:hover {
  color:#9a8f79;
}

/* HEADER */
h1 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 45px;
  color: #000000;
}

p {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 22px;
  color: #575757;
  margin-left:10%;
  margin-right:10%;
}

.holder {
  display:flex;
  justify-content:center;
  font-family: 'EB Garamond', serif;
}

.name {
  font-size:1.5em;
  font-family: 'EB Garamond', serif;
  margin:1em;
  border:3px solid #362706;
  border-radius:3px;
}

.city {
  font-size:1.5em;
  font-family: 'EB Garamond', serif;
  margin:1em;
  border:3px solid #362706;
  border-radius:3px;
}
.city::placeholder {
  font-family: 'EB Garamond', serif;
}

.script {
  font-size:1.5em;
  font-family: 'EB Garamond', serif;
  margin:1em;
  margin-left:5em;
  border:3px solid #362706;
  border-radius:3px;
}

.clear {
  font-size:1em;
  font-family: 'EB Garamond', serif;
  margin:1em;
  border:3px solid #362706;
  border-radius:3px;
}

label {
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  color: #575757;
}
